@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@3008family=Raleway:wght@100;8008display=swap");
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html,body{
	width: 100px;
	height: 90px;
}
header{
	background-image:url(fire.gif); 
	height:100vh;
	width:206vh;
	background-size: contain;
	background-position: center;  
}
#main{
	stop-color: gray;
	background: gray;
	width: 206vh;
	height: 50px;
	background-size: cover;
	background: center;
}
#main nav ul {
	float: right;
	margin-right: -62px;
	margin-top: -72px;
}
#main nav ul li {
	list-style-type:none;
	margin-left: 200px;
	margin-top: -0px;
	display: inline-block;
	margin-right:0. 8 px;
	line-height:10px;
	box-shadow: #ff5;
}
#main nav ul li a  {
	text-decoration: none;
	color: #fff;
	font-size: 18PX;
	font-style: #fad;
	padding: 9px 13px;
	border-radius: 5px;
	background-color: black;
	transition: 0.5s all ease-out;
	font-family: "Quicksand" ,sans-serif; 
}
#main nav ul li a .active,
#main nav ul li a:hover {
	background:#fd4a47;
	color: #fff;
	transition: 0.4s all ease-out; 
}
#main div nav ul  {
	margin-left: 10px;
	line-height: 80px;
	float: left;
}
.Text{
	transform: translate(-50%,-50%);
	position: absolute;
	top: 50%;
	left: 20%;
}
.text{

	color: #ffd;
	font-size: 31px;
	text-align: center;
	margin-top: 120px;
	margin-left: 100px;
}
.text span{
	width: 4px;
	height: 9px;
	background: #fd4a47;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 5%;
	left:-15%; 
	text-align: center;
}
.Text p {
	font-size: 3px;
	line-height: 6px;
	letter-spacing: 2px;
	color:#ffd;
	font-family: "Quicksand" , sans-serif; 
	text-align: center;
}
.text .btn {
	width: 230px;
	height: 55px;
	border: none;
	background: #fd4a47;
	color: #fff;
	transition: 0.5% all ease-out;
	margin-top: 40px;
	text-align: center;
}
input{
	font-size: 26px;
	text-shadow: #fff;


}
.text .btn:hover{
	background: transparent;;
	border: 1px solid #fff;
	transition:0.5s all ease-out;
	text-align: center;
	flex-direction: column;
	background-color:#f3f3f3;
	font-weight:bold;
}
h1{
	color: yellow;
	font-family: sans-serif;

}
.logo {
	background: url(downlgoad.png);
	width: 9s7px;
	height: 97PX;
	background-position: center; 
	background-size: cover;
}
ins{
	margin-top: 8px;
	margin-left: 1200px;}
{
	width: 80px;
	height: 80px;
	}
ins img{
	margin-left: -360vh;
	height: 606.7px;
	width: 470px;
	margin-top: -1vh;
}
code{
	font-size: 2.5vh;
}
.icon{
	height:53px;
	margin-left: 4px
}
