h2{
	margin-left: 70vh;
	color:#ffd;
	font-size:9vh;

}
input{
	margin-left: 70vh;
	height: 5vh;
	width: 43vh;
	color: blue;

}
h3{
	color: #ffd;
	margin-left: 77vh;
	font-size: 3vh;
}
button{
	margin-left: 83vh;
	height: 52px;
	width: 80px;
	color:black;
}